<header>
  <h1><%= @venue.name %></h1>
</header>

<% if (@venue.priority > 0) %>
  <div class="alert-message">
    <p>This venue has priority over others.</p>
  </div>
<% end %>



<div id="venue-details" class="row vcard">
  <div class="span7">
    <div id="venue-contact">
      <a href="<%=@venue.id%>/edit">Edit</a>
  
      <address class="fn address">
        <%= @venue.address1 %><br/>
        <%= @venue.address2 %><br/>
        <%= @venue.address3 %><br/>
        <%= @venue.postcode %><br/>
      </address>
  
      <a href="tel:<%= @venue.phone %>" class="fn tel"><%= @venue.phone %><br/>
      <a href="mailto:<%= @venue.email %>" class="fn email"><%= @venue.email %><br/>
      <a href="<%= @venue.url %>" class="fn url"><%= @venue.url %><br/>
      <a href="http://maps.google.co.uk/?ll=<%= @venue.latitude %>,<%= @venue.longitude %>" class="longlat">long: <%= @venue.longitude %> / lat: <%= @venue.latitude %></a>
    </div>
  </div>
  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>



<% if @venue.login_email == "" || @venue.login_email == nil %>
  <div class="row">
    <div class="span16">
      <div id="register-venue" class="details-form">
        <h2>Register this Venue</h2>
        <form action="/<%= @venue.id %>/registration" method="post" accept-charset="utf-8">
          <div class="clearfix"><input name="_method" value="put" type="hidden"/></div>
          <div class="clearfix"><label for="email">Login Email: </label>  <div class="input"><input placeholder="admin@example.com" name="login_email" type="login_email" value="<%= @venue.login_email %>"><br/></div></div>
          <div class="clearfix"><label for="url">Password: </label>       <div class="input"><input name="password" type="password" value=""><br/></div></div>

          <div class="actions">
           <input type="submit" class="btn primary" name="Submit" value="Register"><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="span16">
    <div id="deals">
      <h2>Deals</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Summary</th>
            <th>Expires</th>
            <th>Active</th>
            <th>Featured</th>
            <th>Details</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @venue.deals.each do |deal| %>
            <tr class="deal-row" id="deal-row-<%= deal.id %>">
              <td class="deal-id"><%= deal.id %></td>
              <td class="deal-summary"><%= deal.summary %></td>
              <td class="deal-expires"><time datetime="<%= deal.expires %>"><%= deal.expires %></time></td>
              <td class="deal-active"><img src="/images/<%= deal.active ? 'tick' : 'cross' %>.png"></td>
              <td class="deal-featured"><img src="/images/<%= deal.featured ? 'tick' : 'cross' %>.png"></td>
              <td class="deal-details"><%= deal.details %></td>
              <td class="deal-edit"><a class="edit-deal-link" href="#edit-deal-row-<%= deal.id %>"><img src="/images/pencil.png" alt="Edit" /></td>
            </tr>

            <tr class="edit-deal-row" id="edit-deal-row-<%= deal.id %>">
              <form action="/<%= @venue.id %>/deals/<%= deal.id %>" method="post" accept-charset="utf-8">
                <input type="hidden" name="_method" value="put">
                <td class="deal-id"><%= deal.id %></td>
                <td><input name="summary" value="<%= deal.summary %>" maxlength="40"></td>
                <td><input name="expires" value="<%= deal.expires %>"></td>
                <td><input type="checkbox" name="active" <%= deal.active ? 'checked' : '' %>></td>
                <td><img src="/images/<%= deal.featured ? 'tick' : 'cross' %>.png"></td>
                <td><textarea name="details"><%= deal.details %></textarea></td>
                <td><input type="submit" id="#submit-<%= deal.id %>"class="btn primary small save-deal-btn" name="Submit" value="Save"></td>
              </form>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="7"><a class="add-deal-link" href="#">Add Deal</a></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

    <script type="text/javascript"> 
 
        var myLatlng = new google.maps.LatLng(<%= @venue.latitude %>,<%= @venue.longitude %>);
        var myOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                zIndex: Math.round(myLatlng.lat()*-100000)<<5});
        
        
    </script>

