<h1><%= @venue.name %></h1>
<% if (@venue.priority > 0) %>
  <div class="alert-message">
    <p>This venue has priority over others.</p>
  </div>
<% end %>
<div id="venue-details" class="row vcard">
  
  <div id="venue-contact" class="span7">
    <a href="<%=@venue.id%>/edit">Edit</a>
  
    <address class="fn address">
      <%= @venue.address1 %><br/>
      <%= @venue.address2 %><br/>
      <%= @venue.address3 %><br/>
      <%= @venue.postcode %><br/>
    </address>
  
    <a href="tel:<%= @venue.phone %>" class="fn tel"><%= @venue.phone %><br/>
    <a href="mailto:<%= @venue.email %>" class="fn email"><%= @venue.email %><br/>
    <a href="<%= @venue.url %>" class="fn url"><%= @venue.url %><br/>
    <a href="http://maps.google.co.uk/?ll=<%= @venue.latitude %>,<%= @venue.longitude %>" class="longlat">long: <%= @venue.longitude %> / lat: <%= @venue.latitude %></a>
  </div>

  <div id="map_canvas" class="span8">
  </div>
</div>

<div class="row" id="register-venue">
  <% if @venue.login_email == "" || @venue.login_email == nil %>
    <h2>Register this Venue</h2>
    <form action="/<%= @venue.id %>/registration" method="post" accept-charset="utf-8">
      <div class="clearfix"><input name="_method" value="put" type="hidden"/>
      <div class="clearfix"><label for="email">Login Email: </label>  <div class="input"><input placeholder="admin@example.com" name="login_email" type="login_email" value="<%= @venue.login_email %>"><br/></div></div>
      <div class="clearfix"><label for="url">Password: </label>       <div class="input"><input name="password" type="password" value=""><br/></div></div>

      <div class="row">
        <div class="actions">
         <input type="submit" class="btn primary" name="Submit" value="Save Changes"><br/>
        </div>
      </div>                                            
    </form>
  <% end %>
</div>

<div class="row" id="deals">
  <h2>Deals</h2>
  <ul>
    <% @venue.deals.each do |deal| %>
      <li><%= deal.summary %></li>
    <% end %>
  </ul>
</div>

    <script type="text/javascript"> 
 
        var myLatlng = new google.maps.LatLng(<%= @venue.latitude %>,<%= @venue.longitude %>);
        var myOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                zIndex: Math.round(myLatlng.lat()*-100000)<<5});
        
        
    </script>

