<h1><%= @venue.name %></h1>
<p><%= @venue.id %></p>
<%= @venue.address1 %><br/>
<%= @venue.address2 %><br/>
<%= @venue.address3 %><br/>
<%= @venue.postcode %><br/>
<%= @venue.phone %><br/>
<%= @venue.email %><br/>
<%= @venue.url %><br/>
<%= @venue.longitude %><br/>
<%= @venue.latitude %><br/>
<%= @venue.active? %><br/>

<p>
  <a href="<%=@venue.id%>/edit">Edit Details</a>
</p>

<% if @venue.login_email == "" || @venue.login_email == nil %>
  <h2>Admin Registration Details</h2>
  <p>To edit this venue's information and add/edit deals, register an admin email address and password.</p>
  <form action="/<%= @venue.id %>/registration" method="post" accept-charset="utf-8">
    <input name="_method" value="put" type="hidden"/>
    <label for="email">Login Email: </label>  <input placeholder="admin@example.com" name="login_email" type="login_email" value="<%= @venue.login_email %>"><br/>
    <label for="url">Password: </label>       <input name="password" type="password" value=""><br/>
                                              <input type="submit" name="Submit" value="Save Changes"><br/>
                                            
  </form>
<% end %>

<h2>Deals</h2>
<ul>
  <% @venue.deals.each do |deal| %>
    <li><%= deal.summary %></li>
  <% end %>
</ul>

