<header>
  <h1><%= @venue.name %></h1>
</header>

<% if (@venue.priority > 0) %>
  <div class="alert-message">
    <p>This venue has priority over others.</p>
  </div>
<% end %>



<div id="venue-details" class="row vcard">
  <div class="span7">
    <div id="venue-contact">
      <div class="admin">
        <a class="edit-link" href="<%= @venue.id %>/edit">edit</a>
      </div>
      <h3>Venue Details</h3>
      <address class="fn address">
        <%= @venue.address1 + "<br>" unless (@venue.address1.nil? || @venue.address1.empty?) %>
        <%= @venue.address2 + "<br>" unless (@venue.address2.nil? || @venue.address2.empty?)%>
        <%= @venue.address3 + "<br>" unless (@venue.address3.nil? || @venue.address3.empty?)%>
        <%= @venue.city %><br/>
        <%= @venue.postcode %><br/>
      </address>
  
      <% unless @venue.phone.nil? || @venue.phone.empty? %>
        <a href="tel:<%= @venue.phone %>" class="fn tel"><%= @venue.phone %><br/>
      <% end %>
      <% unless @venue.email.nil? || @venue.email.empty? %>
        <a href="mailto:<%= @venue.email %>" class="fn email"><%= @venue.email %><br/>
      <% end %>
      <% unless @venue.url.nil? || @venue.url.empty? %>
        <a href="<%= @venue.url %>" class="fn url"><%= @venue.url %><br/>
      <% end %>
      <a href="http://maps.google.co.uk/?ll=<%= @venue.latitude %>,<%= @venue.longitude %>" class="latlong"><%= @venue.longitude %> / <%= @venue.latitude %></a>
    </div>
  </div>
  <div class="span9">
    <div id="map_canvas"></div>
  </div>
</div>



<% if @venue.login_email == "" || @venue.login_email == nil %>
  <div class="row">
    <div class="span16">
      <div id="register-venue" class="details-form">
        <h2>Register this Venue</h2>
        <form action="/<%= @venue.id %>/registration" method="post" accept-charset="utf-8">
          
          <input name="_method" value="put" type="hidden"/>
          <input name="id" value="<%= @venue.id %>" type="hidden"/>
          
          <div class="clearfix"><label for="email">Login Email: </label>  <div class="input"><input placeholder="admin@example.com" name="login_email" type="email" value=""><br/></div></div>
          <div class="clearfix"><label for="url">Password: </label>       <div class="input"><input name="password" type="password" value=""><br/></div></div>

          <div class="actions">
           <input type="submit" class="btn primary" name="Submit" value="Register"><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
<% end %>


<div class="row">
  <div class="span16">
    <div id="deals">
      <h2>Deals</h2>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Summary</th>
            <th>Expires</th>
            <th>Active</th>
            <th>Featured</th>
            <th>Details</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% @venue.deals.each do |deal| %>
            <%= partial :deal_row, {:@deal => deal} %>
          <% end %>
        </tbody>
        <tfoot>
          <tr id="new-deal-row">
            <form action="/<%= @venue.id %>/deals" method="post" accept-charset="utf-8">
              <input type="hidden" name="venue_id" value="<%= @venue.id %>">
              <td class="deal-id"></td>
              <td><input name="summary" value="" placeholder="Summary" maxlength="40"></td>
              <td><input name="expires" value="" placeholder="Export Date"></td>
              <td><input type="checkbox" name="active" %></td>
              <td><img src="/images/cross.png"></td>
              <td><textarea name="details" placeholder="Details..."></textarea></td>
              <td><input type="submit" id="#submit-new"class="btn primary small" name="Submit" value="Add"></td>
            </form>
          </tr>
          <tr>
            <td id="add-deal-link-container" colspan="7"><a id="add-deal-link" href="#">Add Deal</a></td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>

    <script type="text/javascript"> 
 
        var myLatlng = new google.maps.LatLng(<%= @venue.latitude %>,<%= @venue.longitude %>);
        var myOptions = {
          zoom: 15,
          center: myLatlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        
        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = new google.maps.Marker({
                position: myLatlng,
                map: map,
                zIndex: Math.round(myLatlng.lat()*-100000)<<5});
        
        
    </script>

