<h1><%= @venue.name %></h1>
<p><%= @venue.id %></p>
<%= @venue.address1 %><br/>
<%= @venue.address2 %><br/>
<%= @venue.address3 %><br/>
<%= @venue.postcode %><br/>
<%= @venue.phone %><br/>
<%= @venue.email %><br/>
<%= @venue.url %><br/>
<%= @venue.longitude %><br/>
<%= @venue.latitude %><br/>
<%= @venue.active? %><br/>

<p>
  <a href="<%=@venue.id%>/edit">Edit Details</a>
</p>

